html {
  height: 100%;
}
html main {
  padding: 30px;
  font-size: 20px;
}
html main:hover p {
  opacity: 0%;
  transform: scaleY(0);
}
html main p {
  transition: opacity 2s linear 1s,  
                  transform 4s linear 0s;
  transition-timing-function: cubic-bezier(0, 0.96, 1, 0.06);
}
html main .bola {
  background-color: aquamarine;
  position: absolute;
  top: 500px;
  left: 0%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: left 2s steps(4), top 2s steps(4);
}
html:hover .bola {
  background-color: lime;
  left: 90%;
  top: 0px;
}
html .sprite {
  position: absolute;
  bottom: 0px;
  left: 300px;
  transform: scale(2);
  transform-origin: 50% 100%;
  width: 40px;
  overflow: hidden;
}
html .sprite img {
  transition: all 0.9s steps(8);
  position: relative;
  left: 0px;
}
html:hover img {
  left: -296px;
}
