html {
  height: 100%;
  padding: 80px;
}
h1 {
  width: 25%;
  font-size: 200%;
  color: #ff55aa;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 80px;
}
p {
  margin-top: 40px;
}
section.capsa p {
  background-color: lime;
}
section.capsa i {
  background-color: lime;
}
.A,
.B {
  width: 50%;
  background-color: red;
  float: left;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 30px;
}
.B {
  background-color: green;
}
