@keyframes escales_avall {
  0% {
    transform: rotateX(0deg);
    transform-origin: 50% 100% 0%;
  }
  50% {
    transform: rotateX(180deg);
    transform-origin: 50% 100% 0%;
  }
  51% {
    transform: rotateX(180deg);
    transform-origin: 50% 200% -100%;
  }
  100% {
    transform: rotateX(360deg);
    transform-origin: 50% 200% -100%;
  }
}
html {
  height: 100%;
}
html body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}
html body main {
  width: 200px;
  height: 200px;
  animation-name: escales_avall;
  animation-duration: 3s;
  /*&:hover {
               transform:  rotateX(180deg);            
              
            }*/
  transition: all 5s;
  transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
  transform-style: preserve-3d;
  transform-origin: 50% 100% 0%;
}
html body main div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  background-color: lime;
  transform: rotateY(0deg);
}
html body main div.right {
  transform-origin: 0% 50%;
  transform: rotateY(-90deg);
  background-color: yellow;
}
html body main div.left {
  transform-origin: 100% 50%;
  transform: rotateY(90deg);
  background-color: red;
}
html body main div.top {
  transform-origin: 50% 0%;
  transform: rotateX(90deg);
  background-color: magenta;
}
html body main div.bottom {
  transform-origin: 50% 100%;
  transform: rotateX(-90deg);
  background-color: blue;
}
html body main div.front {
  transform: translateZ(200px);
  background-color: orange;
}
html body main div.back {
  transform: rotateY(180deg);
  background-color: chocolate;
}
