html {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1544376798-89aa6b82c6cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  background-attachment: fixed;
}
body {
  background-color: rgba(255, 0, 0, 0.372);
  height: 100%;
  padding: 30px;
  font-size: 15px;
}
h1 {
  border: 3px solid #333333;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
}
i {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  background-image: url("https://media.gettyimages.com/photos/actor-rowan-atkinson-attends-a-photocall-to-mr-beans-holiday-at-the-picture-id73666031");
  background-repeat: no-repeat;
  background-size: cover;
}
b {
  display: block;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-left-color: green;
}
