html {
  height: 100%;
}
html .floating {
  border: 30px solid red;
  background-color: aquamarine;
  overflow: auto;
}
html .floating li {
  float: left;
}
html .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
html .flex li {
  order: 3;
}
html .flex li:nth-child(2) {
  order: 1;
}
html .flex li:nth-child(3) {
  order: 4;
}
