html {
  height: 100%;
}
html main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header header header" "left content ." "footer footer footer";
}
html main header {
  grid-area: header;
  background-color: aqua;
}
html main aside {
  grid-area: left;
  background-color: yellow;
}
html main footer {
  grid-area: footer;
  background-color: red;
}
html main .capsa {
  grid-area: content;
}
