#cat_milaifontanals_diw div.prova {
  display: block;
  width: 200px;
  background-color: #dbd4e2;
  transition: all 1s;
  margin: 40px;
  padding: 20px;
}
#cat_milaifontanals_diw div.prova:hover {
  background-color: #483759;
}
#cat_milaifontanals_diw a {
  display: block;
}
#cat_milaifontanals_diw a[href$="pdf"],
#cat_milaifontanals_diw a[href$="xls"] {
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
#cat_milaifontanals_diw a[href$="pdf"] {
  background-image: url(images/pdf.png);
}
#cat_milaifontanals_diw a[href$="xls"] {
  background-image: url(images/excel.png);
}
#cat_milaifontanals_diw a:focus {
  border: 1px solid red;
}
#cat_milaifontanals_diw input:focus {
  background-color: aqua;
}
#cat_milaifontanals_diw div::first-letter {
  font-size: 5em;
  display: block;
  float: left;
}
#cat_milaifontanals_diw div::first-line {
  font-weight: bold;
}
#cat_milaifontanals_diw div.prova {
  position: relative;
  padding: 50px;
  padding-top: 100px;
  background-color: blue;
}
#cat_milaifontanals_diw div:before {
  display: block;
  width: 0px;
  height: 0px;
  border: 30px solid red;
  border-left-color: white;
  border-top-color: white;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
}
#cat_milaifontanals_diw ul li {
  background-color: aquamarine;
  display: block;
  padding: 20px;
}
#cat_milaifontanals_diw ul li:nth-child(2n) {
  background-color: orange;
}
#cat_milaifontanals_diw ul li:nth-child(3n) {
  background-color: aqua;
}
#cat_milaifontanals_diw ul li:last-child {
  font-weight: 900;
}
