html {
  height: 100%;
}
@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (orientation: portrait) {
  body {
    background-color: pink;
  }
}
