html {
  height: 100%;
}
html input[type="radio"] {
  display: none;
}
html .carrousel {
  display: none;
  position: relative;
  height: 400px;
  overflow: hidden;
}
html .carrousel header nav {
  position: absolute;
  font-size: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  z-index: 100;
}
html .carrousel header nav:nth-child(2) {
  left: auto;
  right: 0px;
}
html .carrousel main article {
  width: 100%;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  left: 0px;
  transition: transform 2s;
  position: absolute;
  top: 0px;
}
html .carrousel main article img {
  width: 100%;
}
html .carrousel footer {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
html .carrousel footer ul {
  display: flex;
  gap: 30px;
}
html .carrousel footer ul li {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: black;
}
html .carrousel footer ul li label {
  display: block;
  width: 100%;
  height: 100%;
}
